@import "../../index.css";

.header {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
    align-items: center;
}
.hr{
    min-width: 776px;
    width: 100%;
}
/*  */
.left {
    display: flex;
    width: 35%;
    gap: 1rem;
    align-items: center;
}
.logo {
    width: 112px;
    height: 30px;
    background-image: url("../../source/img/flet-logo.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}
.title {
    color: var(--flet-green);
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-top: auto;
}
/*  */
.right {
    display: flex;
    width: 65%;
    gap: 1rem;
    align-items: center;
}
.nav {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: end;
    margin-top: auto;
}
.link {
    text-decoration: none;
    color: var(--flet-gray-base);
    cursor: pointer;
    line-height: 16px;
}
.link.link_a{
    color: var(--flet-green);
}
.moment {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.btn {
	padding: 0 10px;
	height: 30px;
	line-height: 26px;
	border-radius: 16px;
	cursor: pointer;
	border: 1px solid var(--flet-gray-base); 
}
