extends layouts/fox-layout

block content
    div.online
        span Online
    //- div#login_container    
    //-     form.login(role="form") 
    //-         div.title Авторизация
    //-         input.in(type="email", name="email", placeholder="Почта, логин")
    //-         input.in(type="password",name="password", placeholder="Пароль")
    //-         button.btn(type="submit") Войти 

    //- script(src="script/login.js")
    //- link(rel="stylesheet", href="/style/login.css") 
    script(src="/script/fox-online.js")
    link(rel="stylesheet", href="/style/fox-online.css")