extends layouts/fox-layout

block content
    div.single

        div.header Одиночная игра

        button.btn-text Test
        span value = 
        span#counter 0

        //- игра
        div.field1 
            

    script(src="/script/fox-single.js")
    link(rel="stylesheet", href="/style/fox-single.css")