extends layouts/layout 
 
block content 
    div.view 
        h3.banner Каталог игр
        div.catalog
            div.card #{games[0].name}
            div.card #{games[1].name}
    script(src="script/home.js")
    link(rel="stylesheet", href="style/home.css")                
