extends layouts/layout 
 
block content  
    div.banner Каталог игр
    div.catalog
        each item in games
            a(href=`/${item.id}`).card= item.name

    script(src="script/home.js")
    link(rel="stylesheet", href="style/home.css")                
