extends layouts/layout 

block content 
    div#login_container    
        form.login(role="form") 
            div.title Авторизация
            input.in(type="email", name="email", placeholder="Почта, логин")
            input.in(type="password",name="password", placeholder="Пароль")
            button.btn(type="submit") Войти 
    script(src="script/login.js")
    link(rel="stylesheet", href="/style/login.css") 
