html,
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
  min-width: 350px;
  font-family: "noto sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px; }

*,
*::after,
*::before {
  box-sizing: border-box; }

h1,
h2,
h3,
h4 {
  margin: 0; }

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 100%; }

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  min-width: 315px;
  align-items: center;
  border-radius: 10px;
  padding: 8px;
  gap: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: hidden;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  color: white;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2); }

.blur {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #000000;
  opacity: 0.5;
  filter: blur(50.009px); }

.intro__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 10;
  width: 100%;
  height: auto;
  pointer-events: none; }

.bg_game {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.5; }

.secondary {
  color: #a6bccc; }

.primary {
  color: #001053; }

.accent {
  color: #0aa9ff; }

.black {
  color: black; }

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500; }

.text24 {
  font-size: 24px; }

.button {
  outline: none;
  cursor: pointer; }

.button__text {
  width: fit-content;
  padding: 14px 10px;
  background-color: #2c96cf;
  border: none;
  border-radius: 10px;
  color: white;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  font-size: 18px; }
  .button__text:hover {
    background-color: #0aa9ff; }

.button__icon {
  width: 56px;
  height: 56px;
  border: none;
  fill: #0aa9ff;
  background-color: transparent;
  transition: fill 0.4s ease-in-out; }
  .button__icon:hover {
    fill: #f34a4a; }

.button_intro {
  width: 100%;
  z-index: 100; }

.svg {
  width: 48px;
  height: 48px; }

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

.intro__input {
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 100; }

.input {
  outline: none;
  border-radius: 10px;
  padding: 8px 5px;
  font-size: 16px;
  border: none; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 500px;
  justify-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }

.game {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  align-items: center;
  justify-content: center; }

.field {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: #0aa9ff45; }

.row {
  display: flex; }

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0aa9ff;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent; }

.cell_x {
  background-color: #d8a929; }

.cell_0 {
  background-color: #5b6bfa; }

.game__btns {
  display: flex;
  gap: 20%;
  width: 100%;
  justify-content: center; }

.rate {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 24px;
  align-items: center;
  gap: 14px;
  color: white; }

.rate__player[number] {
  font-weight: bolder; }
  .rate__player[number][number="1"] {
    color: #d8a929; }
  .rate__player[number][number="2"] {
    color: #5b6bfa; }

.rate__count {
  font-size: 39px;
  font-weight: bold; }
  .rate__count[number="1"] {
    color: #d8a929; }
  .rate__count[number="2"] {
    color: #5b6bfa; }

.wrapper_popup {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  min-width: 190px;
  height: fit-content;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform-origin: -50% -50%;
  transform: scale(0.5);
  z-index: 100;
  color: #343434; }

.popup_active {
  opacity: 1;
  visibility: visible;
  pointer-events: fill;
  transform: scale(1);
  transform: translate(-50%, -50%); }

.popup {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #f7f9fb;
  position: relative;
  align-items: center;
  border-radius: 16px;
  box-shadow: -5px 5px 9px -3px #8a8a8a; }

.popup__text {
  padding: 10% 5%; }

.popup_btn {
  margin-bottom: 8px; }

.content_top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1rem; }

.date_time {
  display: flex;
  justify-content: flex-end;
  font-family: Montserrat;
  font-weight: bold;
  color: #f7f9fb; }

.currentTime {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content; }

.ct_time {
  font-size: 32px; }

.ct_date {
  font-size: 22px; }

.top {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  z-index: 10;
  border-radius: 10px;
  background-color: #0000003d; }

.top__title {
  margin: auto;
  padding: 12px;
  font-size: 24px;
  font-weight: bold; }

.top__table {
  display: grid; }

.top__row {
  display: grid;
  width: 100%;
  grid-template-columns: auto 40% 40%; }

.top__cell {
  display: grid;
  width: 100%;
  padding: 8px 0;
  overflow: hidden;
  word-break: break-all;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
