/* кнопка меню*/
.bar_w{
    display: flex;
    min-width: 30px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}
/* средняя полоска */
.bar{
    display: flex;
    flex-direction: column;
    position: relative;
    width:30px;
    min-width: 30px;
    height:5px;
    background-color: var(--flet-green);
    transition: background-color .75s ease;
    border-radius: 5px;
}
/* верхняя полоска */
.bar::after{
    content: '';
    position: absolute;
    top:-10px;
    width:30px;
    height:5px;
    background-color: var(--flet-green);
    opacity:1;
    transform-origin: left;
    transform: rotate(0deg);
    transition: transform .5s ease;
    border-radius: 5px;
}
/* нижняя полоска */
.bar::before{
    content: '';
    position: absolute;
    top:10px;
    width:30px;
    height:5px;
    background-color: var(--flet-green);
    opacity:1;
    transform-origin: left;
    transform: rotate(0deg);
    transition: transform .5s ease;
    border-radius: 5px;
}
/* средняя полоска - анимация */
.bar.bar_a{
    background-color: transparent;
    transition: background-color .25s ease
}
/* верхняя полоска - анимация*/
.bar.bar_a::after{
    transform-origin: left;
    transform: rotate(42deg);
    transition: transform .5s ease;
}
/* нижняя полоска - анимация*/
.bar.bar_a::before{
    transform-origin: left;
    transform: rotate(-42deg);
    transition: transform .5s ease;
}