//- Include mixin
include ./mixin.pug

block append content
	hr
	div.title
		span Счет № #{account} от #{date}
	
	table.invoice(cellpadding="0" border="1" rules="all")
		tbody
			tr.head
				td
					p
						span Наименование услуги
				td
					p
						span Сумма
			each v in list
				+el(v)
	
	table.sumt
		tr 
			td 
				b Всего к оплате: 
				span.sum #{sum} 
				span.word (#{sumW})
				br
				b Без налога(НДС): 
				span -