block append content
	table.resp
		tbody
			tr 
				td
					p Предприниматель: 
				td.signature
					img(src=signature height='160px')
				td 
					p=resp
	br
	hr
	p Тарифный план «С нами надолго». Срок действия лицензии 12 (двенадцать) месяцев. Течение срока действия лицензии начинается на следующий день после даты внесения лицензионного платежа. Вид лицензии - простая (неисключительная).
	p Лицензионный платеж возврату не подлежит (ст.ст. 1235, 1286 Гражданского кодекса РФ; п. 5.16. Публичной оферты; п. 5.16. Договора на предоставление доступа к использованию программного комплекса «Флет»).
	p Оплата данного счета означает полное и безоговорочное согласие (акцепт) с условиями Публичной оферты на предоставление доступа к использованию программного комплекса «Флет», размещенной на сайте разработчика https://флет.рф
	p Срок действия счета составляет 5 (Пять) банковских дня, включая день выставления счета. 

