:root {
  --bg-prime-w: white;
  --color-prime-b: black;
  --color-secondary: gray;
  --color-alr: #fb4e4e;
  --color-norm: #36c496;
  --color-warn: #fbef4e;
  --color-ally: #2adc30;
  --color-enemy: #f23434;
  --color-btn: rgba(0, 0, 0, 0.678);
  --color-btn-hover: #f23434c4;

  --color-cell: rgba(255, 255, 255, 0.884);
  --color-ship: #497be7;
  --color-away: #2c2c2c;
  --color-hit: #ff0040;
  --color-destroy: #000000;
}
/* сброс стилей браузера */
html,
body {
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: #000000;
  min-width: 350px;
  font-family: "noto sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-family: noto sans;
  font-size: 1rem;
  font-weight: 500;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left {
  position: relative;
  transform: translateX(0%);
}
.right {
  position: relative;
  transform: translateX(100%);
}
.hide {
  visibility: hidden;
  opacity: 0;
}
/* UI */
.input {
  outline: none;
  border: 2px solid transparent;
  padding: 10px 14px;
  border-radius: 10px;
  font-family: noto sans;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  background-color: var(--color-btn);
  color: var(--bg-prime-w);
  transition: border-color 0.3s ease-in;
}
.input:focus {
  border: 2px solid var(--color-enemy);
}
.btn {
  outline: none;
  border: none;
  font-family: noto sans;
  font-size: 1rem;
  font-weight: 400;
  color: var(--bg-prime-w);
  cursor: pointer;
}
.btn-text {
  padding: 10px 14px;
  border-radius: 10px;
  background-color: var(--color-btn);
  transition: background-color 0.4s ease-in;
  width: 90%;
}
.btn-text:hover {
  background-color: var(--color-btn-hover);
}
.disabled {
  opacity: 0.4;
}
/* содержимое */
.container {
  width: 85%;
  margin: auto;
  position: relative;
  height: 100%;
  /* background-color: #36c496; */
}
/* background */
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  pointer-events: none;
}
/* Логин */
.login {
  display: flex;
  flex-direction: column;
  background-color: rgba(78, 78, 78, 0.829);
  border-radius: 10px;
  align-items: center;
  gap: 0.5rem;
  z-index: 10;
  width: 25%;
  min-width: 290px;
}
.login-title {
  font-size: 32px;
}
.login-subtitle {
  color: rgb(216, 216, 216);
}
.login-input {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 16px;
}
/* Игровая область */
.game {
  display: flex;
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
/* прогресс игры */
.game-btns {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
}
.game-inner {
}
.st-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}
.st {
  background-color: rgba(109, 109, 109, 0.64);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  min-width: 400px;
}
/* Поле */
.field1,
.field2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  margin-top: 10px;
}
.bg {
  width: 100%;
  min-width: 400px;
  height: fit-content;
  background-color: var(--color-btn);
  border-radius: 1rem;
  padding: 2rem 2rem;
}
.row {
  display: flex;
}
.cell {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.315);
}
.cell[data-state="cell"] {
  background-color: var(--color-cell);
}
.cell[data-state="ship"] {
  background-color: var(--color-ship);
}
.cell[data-state="away"] {
  background-color: var(--color-away);
}
.cell[data-state="hit"] {
  background-color: var(--color-hit);
}
.cell[data-state="destroy"] {
  background-color: var(--color-destroy);
}
.cell[data-state="phantom"] {
  background-color: white;
}
.btns {
  display: flex;
  gap: 5%;
  padding: 2%;
}
/* Панель кораблей */
.toolbar {
  display: flex;
  gap: 10px;
  height: fit-content;
  background-color: var(--color-btn);
  justify-content: center;
  width: 50%;
}
/* Карточки кораблей */
.img-ship {
  height: 15px;
  pointer-events: fill;
}
.tool {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  min-width: 75px;
  height: 75px;
  background-color: var(--bg-prime-w);
  opacity: 0.6;
  border-radius: 0.5rem;
  position: relative;
  user-select: none;
}
.tool:hover {
  background-color: #ffffff;
  opacity: 1;
}
.sum {
  position: absolute;
  bottom: 2.5px;
  right: 2.5px;
  width: 18px;
  height: 18px;
  background-color: var(--color-alr);
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Header страницы */
.header {
  padding-top: 20px;
}
.header-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 400px;
  gap: 1rem;
  /* font-size: 25px; */
  background-color: var(--color-btn);
  margin: 0 auto;
  padding: 10px 0px;
  border-radius: 1rem;
}
.header-title {
  /* padding:10px; */
}
/* фантомная копия drag&drop */
.drag-el {
  display: flex;
}
.phantom {
  position: absolute;
  bottom: 150%;
  left: 0;
  display: flex;
  opacity: 0.5;
}
/* Модальное окно */
.modal {
  position: absolute;
  bottom: 0%;
  right: 3%;
  transform: translate(-0%, -0%);
  width: fit-content;
  padding: 15px 15px;
  z-index: 100;
  border-radius: 10px;
  text-align: center;
}
.notification {
  padding: 7px 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.708);
  background-color: #00000047;
  overflow-y: auto;
}
.label {
  position: absolute;
  top: -10px;
  left: 15px;
}
.label[data-player='1']{
  color: #82ef86;
}
.label[data-player='2']{
  color: #f88d8d;
}