@import "setting.css";
.bg-img {
  position: absolute;
  margin-top: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  object-fit: cover;
  opacity: 0.7;
  pointer-events: none;
  z-index: 1;
  user-select: none;
}
.hide {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
  position: absolute;
}

/* Меню */
.intro {
  position: absolute;
  left: 50px;
  bottom: 100px;
  width: 50%;
  user-select: none;
}
.menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
  justify-content: flex-start;
  /* width: 50%; */
}
.btn-text {
  font-family: sans-serif;
  font-size: 18px;
  padding: 2px 8px;
  cursor: pointer;
  transition-property: font-size color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  color: black;
}
.btn-text-hover:hover {
  font-size: 24px;
}
/* Модальное окно - Настройки */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  z-index: 100;
  padding: 20px;
  transition: opacity 0.4s ease-in;
}
.modal-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.in-numb {
  width: 50px;
}
.fields {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* Модальное окно - Игра по сети */
/* Ссылка на игру */
.copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid var(--color-secondary);
  padding-left: 10px;
  font-size: 16px;
  gap: 20px;
}
.link {
}
.icon {
  fill: white;
  stroke: var(--color-logo);
  cursor: pointer;
}
.icon2 {
  stroke: white;
  cursor: pointer;
  transition: stroke 0.3s ease-in;
}
.icon2:hover {
  stroke: var(--color-logo);
}

/* Поле */
.field1,
.field2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  margin-top: 10px;
}
.bg {
  width: 100%;
  min-width: 400px;
  height: fit-content;
  background-color: var(--color-btn);
  border-radius: 1rem;
  padding: 2rem 2rem;
}
.row {
  display: flex;
}
.cell {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.315);
  cursor: pointer;
}
.cell[data-state="cell"] {
  background-color: var(--color-cell);
}
.cell[data-state="df"] {
  background-color: var(--color-df);
}
.cell[data-state="away"] {
  background-color: var(--color-away);
}
.cell[data-state="hit"] {
  background-color: var(--color-hit);
}
.cell[data-state="phantom"] {
  background-color: white;
}

.auth-status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  /* background-color: rgb(141, 141, 141); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-status[data-state="login"] {
  background-color: rgb(117, 245, 94);
}
.auth-status[data-state="logout"] {
  background-color: rgb(141, 141, 141);
}
