:root {
  --color-prime-w: white;
  --color-prime-b: black;
  --color-secondary: gray;
  --color-alr: #fb4e4e;
  --color-norm: #36c496;
  --color-warn: #fbef4e;
  --color-logo: rgb(215, 190, 47);
  --color-bg-logo:rgb(39, 39, 39);
  --color-fox: rgb(238, 138, 113);
  --color-btn: rgba(0, 0, 0, 0.678);
  --color-btn-hover: #f23434c4;

  --color-cell: rgba(255, 255, 255, 0.884);
  --color-df: #729af0;
  --color-away: #ff004054;
  --color-hit: #f04415dc;
}
/* сброс стилей браузера */
html,
body {
  padding: 0;
  margin: 0;
  color: rgb(43, 43, 43);
  background-color: #ffffff;
  min-width: 350px;
  font-family: "noto sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-family: noto sans;
  font-size: 1rem;
  font-weight: 500;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}