.main {
	height: calc(100vh - var(--navbar-height));
	width: var(--width-sidebar);
	background-color: var(--inverted-bg-color);
	color: var(--inverted-primary-color);
	transition: width 0.3s ease-in;
	padding: 20px;
}

.collapsed {
	width: var(--width-sidebar-collapse);
}

.switchers {
	position: absolute;
	bottom: 20px;
	width: calc(var(--width-sidebar) - 40px);
	display: flex;
	justify-content: center;
	gap: 20px;
	transition: width 0.3s ease-in;
}

.switchers_collapsed {
	flex-direction: column;
	width: calc(var(--width-sidebar-collapse) - 40px);
}

.lang,
.toggle {
	color: var(--inverted-primary-color);
}
