body{
	font-size: 10pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resp {
	margin-top: 100px;
	width: 100%;
}
.resp td{
	width: 10%;
}
.signature,
.resp td:last-child{
	text-align: right;
}

.info {
	width: 100%;
}
.info td {
	width: 50%;
	padding: 0 5pt;
}

.info span{
	width: auto;
	padding-right: 5pt;
}
.info span:first-child {
	font-weight: bold;
}
.logo img{
	object-fit:contain
}

.title {
	text-align: center;
	margin: 10pt;
}
.title span {
	font-weight:bold;
}

.invoice {
	width:100%;
	border:0.80pt;
}

.invoice td {
	width: 50%;
	padding: 10.00pt 4pt;
}
.invoice tr:first-child p{
	font-weight:bold;
}

.invoice td:last-child p,
.invoice tr:first-child p{
	text-align: center;
} 

.sumt {
	margin-top: 20px;
}

.word{
	font-size: 9pt;
}
.sum{
	font-size: 11pt;
}

