extends ../../block/main/index.pug


block append style
	style
		include ./style.css

block content
	//- Include header
	include ./header/index.pug
	//- Include main
	include ./main/index.pug

	//- Include footer
	include ./footer/index.pug