block variable

doctype html
html(lang="ru")
	head
		title #{title}
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		block style
			style
				include ./style.css
			
		block script
			script
				include ./script.js
		
	body
		table#container
			tr
				td
					block content
		
		block end
