.wrapper {
	display: inline-block;
	text-align: center;
	padding: 10px;
	border: 2px solid rgb(170, 140, 235);
	border-radius: 8px;
}
button{
	padding: 10px;
	border-radius: 8px;
	border: none;
	background-color: rgb(223, 231, 231);
	&:hover{
		background-color: rgb(177, 177, 177);
	}
}

