-
	var f = [
		['Исполнитель:', flet.name],
		['Адрес местонахождения:', flet.addr],
		['ИНН /КПП:', flet.ik],
		['Наименование банка:', flet.bank],
		['БИК:', flet.bik],
		['р/с:', flet.rs],
		['к/с:', flet.ks],
		['Тел./факс:', flet.phone]
	]
-
	var c = [
		['Заказчик:', market?.name],
		['Адрес:', market?.addr],
		['ИНН /КПП:', market?.ik],
		['Телефон:', market?.phone],
	]